<div class="bottom-sheet-container" (click)="close()">
  <div class="drag-handle flex justify-center items-center"></div>
  <div class="content flex justify-center items-center flex-col h-full">
    <h2 class="font-bold text-white text-l mb-4">Code de la carte Nusuk</h2>
    <div class="w-60 h-60 bg-[#24303a] p-11 rounded-custom flex justify-center items-center">
      <div class="border-4 border-[#e5bc82] p-0">
        <img src="/qr_code.svg" alt="QR Code" class="w-full h-full object-contain"/>
      </div>
    </div>
  </div>
</div>

<div class="bottom-sheet-container" (click)="close()">
  <div class="drag-handle flex justify-center items-center"></div>
  <div class="content flex justify-center items-center flex-col h-full">
    <h2 class=" text-white text-l mb-4">Code de la carte Nusuk</h2>
    <div class="w-60 h-60 bg-[#24303a] p-11 rounded-custom flex justify-center items-center">
      <div class="border-4 border-[#e5bc82] p-0">
        <img src="/qr_code.svg" alt="QR Code" class="w-full h-full object-contain"/>
      </div>
    </div>
  </div>
</div>
