<div class="w-full h-screen overflow-y-auto relative bg-[#1c2023]">
  <div class="flex flex-col">
    <div class="flex-1 flex justify-center items-center m-0 p-0 bg-[#1c2023]">
      <img src="/image00001.jpeg" class="w-full h-auto object-cover m-0 p-0 border-0" style="border: 2px solid #1c2023;" />
    </div>
    <div class="flex-1 flex justify-center items-center m-0 p-0 bg-[#1c2023]" (click)="openBottomSheet()">
      <img src="/image00002.jpeg" class="w-full h-auto object-cover m-0 p-0 border-0" style="border: 2px solid #1c2023;" />
    </div>
    <div class="flex-1 flex justify-center items-center m-0 p-0 bg-[#1c2023]">
      <img src="/image00003.jpeg" class="w-full h-auto object-cover m-0 p-0 border-0" style="border: 2px solid #1c2023;" />
    </div>
    <div class="flex-1 flex justify-center items-center m-0 p-0 bg-[#1c2023]">
      <img src="/image00004.jpeg" class="w-full h-auto object-cover m-0 p-0 border-0" style="border: 2px solid #1c2023;" />
    </div>
    <div class="flex-1 flex justify-center items-center m-0 p-0 bg-[#1c2023]">
      <img src="/image00005.jpeg" class="w-full h-auto object-cover m-0 p-0 border-0" style="border: 2px solid #1c2023;" />
    </div>
    <div class="flex-1 flex justify-center items-center m-0 p-0 bg-[#1c2023]">
      <img src="/image00006.jpeg" class="w-full h-auto object-cover m-0 p-0 border-0" style="border: 2px solid #1c2023;" />
    </div>
    <div class="flex-1 flex justify-center items-center m-0 p-0 bg-[#1c2023]">
      <img src="/image00007.jpeg" class="w-full h-auto object-cover m-0 p-0 border-0" style="border: 2px solid #1c2023;" />
    </div>
    <div class="flex-1 flex justify-center items-center m-0 p-0 bg-[#1c2023]">
      <img src="/image00008.jpeg" class="w-full h-auto object-cover m-0 p-0 border-0" style="border: 2px solid #1c2023;" />
    </div>
    <div class="flex-1 flex justify-center items-center m-0 p-0 bg-[#1c2023]">
      <img src="/image00009.jpeg" class="w-full h-auto object-cover m-0 p-0 border-0" style="border: 2px solid #1c2023;" />
    </div>
    <div class="flex-1 flex justify-center items-center m-0 p-0 bg-[#1c2023]">
      <img src="/image00010.jpeg" class="w-full h-auto object-cover m-0 p-0 border-0" style="border: 2px solid #1c2023;" />
    </div>
    <div class="flex-1 flex justify-center items-center m-0 p-0 bg-[#1c2023]">
      <img src="/image00015.jpeg" class="w-full h-auto object-cover m-0 p-0 border-0" style="border: 2px solid #1c2023;" />
    </div>
    <div class="flex-1 flex justify-center items-center m-0 p-0 bg-[#1c2023]">
      <img src="/image00011.jpeg" class="w-full h-auto object-cover m-0 p-0 border-0" style="border: 2px solid #1c2023;" />
    </div>
    <div class="flex-1 flex justify-center items-center m-0 p-0 bg-[#1c2023]">
      <img src="/image00012.jpeg" class="w-full h-auto object-cover m-0 p-0 border-0" style="border: 2px solid #1c2023;" />
    </div>
    <div class="flex-1 flex justify-center items-center m-0 p-0 bg-[#1c2023]">
      <img src="/image00013.jpeg" class="w-full h-auto object-cover m-0 p-0 border-0" style="border: 2px solid #1c2023;" />
    </div>
    <div class="flex-1 flex justify-center items-center m-0 p-0 bg-[#1c2023]">
      <img src="/image00014.jpeg" class="w-full h-auto object-cover m-0 p-0 border-0" style="border: 2px solid #1c2023;" />
    </div>
  </div>
</div>
