<div class="w-full h-screen overflow-y-auto relative bg-[#1c2023]">
  <div class="flex flex-col">
    <div class="flex-1 flex justify-center items-center m-0 p-0 bg-[#1c2023]">
      <img src="/image00001.jpeg" class="w-full h-auto object-cover m-0 p-0 border-0" style="border: 2px solid #1c2023;" />
    </div>
    <div class="flex-1 flex justify-center items-center m-0 p-0 bg-[#1c2023]" (click)="openBottomSheet()">
      <!--      <img src="/image00002.jpeg" class="w-full h-auto object-cover m-0 p-0 border-0" style="border: 2px solid #1c2023;" />-->
      <div class="container">
        <img src="/image00002.jpeg" alt="Background" class="background-image">
        <div class="overlay">
          <div class="contentt">
            <div class="half">
              <div class="column left-column">
                <span class="text-black text-xs font-medium absolute top-4 left-5">Carte Nusuk</span>
                <div class="icon-div w-20 h-12 mt-2 mr-2 absolute top-8 left-5 flex space-x-2">
                  <div class="w-1/2 flex justify-center items-center">
                    <img src="/ministry_of_hajj.png" alt="ministry icon" class="h-full object-contain">
                  </div>
                  <div class="w-1/2 flex justify-center items-center pb-1.5 pt-2">
                    <img src="/nusuk_v2.png" alt="nusuk icon" class="h-full object-contain">
                  </div>
                </div>
              </div>
              <div class="column middle-column text-xs">
                <img src="/MounirTahar.jpg" alt="Image de Mounir Tahar" class="profile-photo">
                <img src="/BarcodeLarge.png" alt="Code à barres" class="barcode">
              </div>
              <div class="column right-column">
                <span class="text-black text-xs font-medium absolute top-4 right-5">Hajj externe</span>
                <div class="badge w-18 h-6 absolute top-8 right-5 mt-2">
                  <span class="tick font-medium">&#10003;</span>  Activé
                </div>
              </div>
            </div>
            <div class="half bottom-half">
<!--              <div class="justify-center items-center text-center">-->
<!--                <span> test test</span>-->
<!--              </div>-->
              <div class="text-middle mt-4">
                <span class="font-light text-sm">MOUNIR TAHAR<br></span>
                <span class="font-light text-xs">Numéro du Hajj <strong class="custom-font">6117779290</strong><br></span>
                <span class="font-light text-xs">Nationalité <strong class="custom-font">Tunisia</strong></span>
              </div>
              <div class="qr-code">QR Code</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-1 flex justify-center items-center m-0 p-0 bg-[#1c2023]">
      <img src="/image00003.jpeg" class="w-full h-auto object-cover m-0 p-0 border-0" style="border: 2px solid #1c2023;" />
    </div>
    <div class="flex-1 flex justify-center items-center m-0 p-0 bg-[#1c2023]">
      <img src="/image00004.jpeg" class="w-full h-auto object-cover m-0 p-0 border-0" style="border: 2px solid #1c2023;" />
    </div>
    <div class="flex-1 flex justify-center items-center m-0 p-0 bg-[#1c2023]">
      <img src="/image00005.jpeg" class="w-full h-auto object-cover m-0 p-0 border-0" style="border: 2px solid #1c2023;" />
    </div>
    <div class="flex-1 flex justify-center items-center m-0 p-0 bg-[#1c2023]">
      <img src="/image00006.jpeg" class="w-full h-auto object-cover m-0 p-0 border-0" style="border: 2px solid #1c2023;" />
    </div>
    <div class="flex-1 flex justify-center items-center m-0 p-0 bg-[#1c2023]">
      <img src="/image00007.jpeg" class="w-full h-auto object-cover m-0 p-0 border-0" style="border: 2px solid #1c2023;" />
    </div>
    <div class="flex-1 flex justify-center items-center m-0 p-0 bg-[#1c2023]">
      <img src="/image00008.jpeg" class="w-full h-auto object-cover m-0 p-0 border-0" style="border: 2px solid #1c2023;" />
    </div>
    <div class="flex-1 flex justify-center items-center m-0 p-0 bg-[#1c2023]">
      <img src="/image00009.jpeg" class="w-full h-auto object-cover m-0 p-0 border-0" style="border: 2px solid #1c2023;" />
    </div>
    <div class="flex-1 flex justify-center items-center m-0 p-0 bg-[#1c2023]">
      <img src="/image00010.jpeg" class="w-full h-auto object-cover m-0 p-0 border-0" style="border: 2px solid #1c2023;" />
    </div>
    <div class="flex-1 flex justify-center items-center m-0 p-0 bg-[#1c2023]">
      <img src="/image00015.jpeg" class="w-full h-auto object-cover m-0 p-0 border-0" style="border: 2px solid #1c2023;" />
    </div>
    <div class="flex-1 flex justify-center items-center m-0 p-0 bg-[#1c2023]">
      <img src="/image00011.jpeg" class="w-full h-auto object-cover m-0 p-0 border-0" style="border: 2px solid #1c2023;" />
    </div>
    <div class="flex-1 flex justify-center items-center m-0 p-0 bg-[#1c2023]">
      <img src="/image00012.jpeg" class="w-full h-auto object-cover m-0 p-0 border-0" style="border: 2px solid #1c2023;" />
    </div>
    <div class="flex-1 flex justify-center items-center m-0 p-0 bg-[#1c2023]">
      <img src="/image00013.jpeg" class="w-full h-auto object-cover m-0 p-0 border-0" style="border: 2px solid #1c2023;" />
    </div>
    <div class="flex-1 flex justify-center items-center m-0 p-0 bg-[#1c2023]">
      <img src="/image00014.jpeg" class="w-full h-auto object-cover m-0 p-0 border-0" style="border: 2px solid #1c2023;" />
    </div>
  </div>
</div>
