<div class="max-w-md mx-auto bg-brown-500 p-6 ">
  <div class="flex justify-center mb-6">
    <img src="/MounirTahar.jpg" alt="Profile Photo" class="w-22 h-28 object-cover border-white border-solid border-4">
  </div>
  <div class="mb-4">
    <label class="flex justify-between text-sm font-medium text-gray-700">
      <span class="text-white text-xs font-normal">Name (Arabic)</span>
      <span class="text-white text-xs font-normal">الاسم (عربي)</span>
    </label>
    <div class="mt-1 bg-white p-1 text-center rounded-md shadow-sm font-bold text-xs">-</div>
  </div>
  <div class="mb-4">
    <label class="flex justify-between text-sm font-medium text-gray-700">
      <span class="text-white text-xs font-normal">Name (English)</span>
      <span class="text-white text-xs font-normal">الاسم (إنجليزي)</span>
    </label>
    <div class="mt-1 bg-white text-center p-1 rounded-md shadow-sm font-bold text-xs">MOUNIR TAHAR</div>
  </div>
  <div class="mb-4">
    <label class="flex justify-between text-sm font-medium text-gray-700">
      <span class="text-white text-xs font-normal">Visa ID</span>
      <span class="text-white text-xs font-normal">IDرقم التأشيرة</span>
    </label>
    <div class="mt-1 bg-white text-center p-1 rounded-md shadow-sm font-bold text-xs">6117778476</div>
  </div>
  <div class="mb-4">
    <label class="flex justify-between text-sm font-medium text-gray-700">
      <span class="text-white text-xs font-normal">Border Number</span>
      <span class="text-white text-xs font-normal">رقم الحدود</span>
    </label>
    <div class="mt-1 bg-white p-1 text-center rounded-md shadow-sm font-bold text-xs">6158856051</div>
  </div>
  <div class="mb-4">
    <label class="flex justify-between text-sm font-medium text-gray-700">
      <span class="text-white text-xs font-normal">Nationality</span>
      <span class="text-white text-xs font-normal">الجنسية</span>
    </label>
    <div class="mt-1 bg-white p-1 rounded-md shadow-sm font-bold flex justify-between text-xs">
      <span>Tunisie</span>
      <span>تونس</span>
    </div>
  </div>
  <div class="mb-4">
    <label class="flex justify-between text-sm font-medium text-gray-700">
      <span class="text-white text-xs font-normal">Gender</span>
      <span class="text-white text-xs font-normal">الجنس</span>
    </label>
    <div class="mt-1 bg-white p-1 rounded-md shadow-sm font-bold flex justify-between text-xs">
      <span>Male</span>
      <span>ذكر</span>
    </div>
  </div>
</div>

<div class="header-container bg-gray-500 py-2 mr-5 ml-5 mt-5">
  <div class="max-w-7xl mx-auto flex items-center justify-between px-4 sm:px-6 lg:px-8">
    <div class="h-12 w-1/2 bg-[#595d60] rounded">
      <img src="/hajj.png" alt="Ministry of Hajj and Umrah" class="h-full w-auto">
    </div>
    <div class="text-center text-white">
      <p class="font-medium text-xs">نوع الباقة-</p>
      <p class="font-medium text-xs">Package Type</p>
      <p class="font-medium text-xs">-</p>
    </div>
    <div class="h-12 bg-[#595d60] rounded">
      <img src="/nusuk.png" alt="Nusuk" class="h-full w-auto">
    </div>
  </div>
</div>

<div class="max-w-md mx-auto p-6 rounded-lg shadow-md">

  <div>
    <h2 class="text-center font-bold mb-4 text-sm">شركة تقديم الخدمة</h2>
    <div class="grid grid-cols-2 gap-4">
      <div class="border-brown p-4 rounded-md shadow-sm text-center h-full">
        <p class="font-medium text-brown-500 text-xs">Service Center | مركز تقديم</p>
        <p class="text-xs text-brown-500"> الخدمة الميداني </p>
        <p class="text-xs text-gray-700">4 مركز خدمة</p>
      </div>
      <div class="border-brown p-4 rounded-md shadow-sm text-center h-full">
        <p class="font-medium text-brown-500 text-xs">Service Provider | مقدم  </p>
        <p class="font-medium text-brown-500 text-xs">الخدمة </p>
        <p class="text-xs text-gray-700">شركة الراجحي للخدمات التجارية المساندة</p>
      </div>
      <div class="border-brown p-4 rounded-md shadow-sm text-center h-full">
        <p class="font-medium text-brown-500 text-xs">Service Center</p>
        <p class="font-medium text-xs text-brown-500">Contact | بيانات الاتصال</p>
        <p class="font-medium text-xs text-brown-500"> بمركز تقديم الخدمة</p>
        <p class="font-medium text-xs text-brown-500 mb-0.5"> الميداني</p>
        <p class="text-xs text-black">966551887220</p>
      </div>
      <div class="border-brown p-4 rounded-md shadow-sm text-center h-full">
        <p class="font-medium text-brown-500 text-xs">Service Center</p>
        <p class="font-medium text-xs text-brown-500">Location | موقع مركز</p>
        <p class="font-medium text-xs text-brown-500">تقديم الخدمة الميداني</p>
        <p class="text-xs text-gray-700">مكة المكرمة - فندق رفاف السلطان</p>
      </div>
    </div>
  </div>



  <div class="mt-3">
    <h2 class="text-center text-sm font-bold mb-4">معلومات السكن</h2>
    <div class="grid grid-cols-2 gap-4">
      <div class="border-brown p-4 rounded-md shadow-sm text-center h-full">
        <p class="font-medium text-brown-500 text-xs">Housing Makkah</p>
        <p class="font-medium text-brown-500 text-xs">Location | موقع السكن</p>
        <p class="font-medium text-brown-500 text-xs"> في مكة </p>
        <p class="text-sm text-gray-700">فندق شذا الصديق, حي جرول جبل الكعبة</p>
      </div>
      <div class="border-brown p-4 rounded-md shadow-sm text-center">
        <p class="font-medium text-brown-500 text-xs">Housing Mina Location</p>
        <p class="font-medium text-brown-500 text-xs">موقع السكن في منى</p>
        <p class="text-sm text-gray-700">-</p>
      </div>
      <div class="border-brown p-4 rounded-md shadow-sm text-center">
        <p class="font-medium text-brown-500 text-xs">Housing Madinah</p>
        <p class="font-medium text-brown-500 text-xs">Location | موقع السكن في المدينة</p>
        <p class="text-xs text-gray-700">-</p>
      </div>
      <div class="border-brown p-4 rounded-md shadow-sm text-center">
        <p class="font-medium text-brown-500 text-xs">Housing Arafat Location</p>
        <p class="font-medium text-brown-500 text-xs">موقع السكن في عرفات</p>
        <p class="text-sm text-gray-700">-</p>
      </div>
    </div>
  </div>

  <div class="mt-3 mx-4">
    <h2 class="text-center text-sm font-bold mb-4"> حالة التأشيرة</h2>
    <div class="h-14 bg-brown-600 p-2 rounded-sm shadow-sm text-center text-white">
      <p class="font-medium text-xs mb-0.5  ">Visa Status | حالة التأشيرة</p>
      <p class="text-xs font-normal">ACTIVE</p>
    </div>
  </div>
</div>
